.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  background-color: #BED6DB;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer {
  color: white;
  background-color: #9cc1c9;
  padding: 5px
}

.chat-container {
  grid-template-rows: 3fr 1fr;
  color:white;
  text-shadow: #282c34;
}

.chat-message-container {
  overflow-y: scroll;
  height: 570px;
}

.chat-message {
  background-color: #BED6DB;
  text-align: left;
  margin-right: 500px;
  padding-left: 100px;
  padding-right: 1200px
}

.chat-message-content {
  text-shadow: 1px 1px grey;
  position: relative;
  left: 110px;
  bottom: 105px
}

.chat-message img {
  display: inline;
  white-space: nowrap;
  position: relative;
  padding-top: 7px;
}

.chat-input {
  padding: 10px;
}

.chat-input input {
  padding-right: 100px;
  margin-right: 5px;
}

.chat-input button {
  background-color: aquamarine;
  font-family: 'Roboto Mono', monospace;
  font-style: bold;
  font-size: 20px;
}

.navbar {
  background-color: #9cc1c9;
  padding: 5px;
}